// * ============================== * //

// box layout margin

// * ============================== * //

// useage
// @include itemBox(100px, null, 10px, 20px);
// 不要なプロパティは null

@mixin itemBox($width, $height, $margin:null, $padding:null) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}
