<%
var page = {
  title: "お問い合わせ",
  path: "../"
};
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include(page.path + '_include/_head', {page: page}) %>
<body>
  <p>test</p>
  <span>aaa</span>
  <a href="<%= page.path %>">
</body>
</html>
